.home-title {
    margin: 50px 0px 24px 50px;
    width: 800px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 44px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
 }
 
 .home-text {
    margin: 0 0 50px 50px;
    width: 680px;
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    font-size: 2.0rem;
    line-height: 36px;
    color: #5A6774;
 }
 
 .email {
    color: #1890FF;
 }
 
 .btn {
    margin-left: 50px;
 }

 .container {
   background: #E5E5E5;
   height: 100vh;
   padding: 120px 0 0 120px;
}

.title-container {
   font-weight: bold;
   font-size: 48px;
   line-height: 64px;
   display: flex;
   align-items: center;
   letter-spacing: 0.02em;
   color: #062847;
   margin-bottom: 24px;
}

.text-container {
   font-weight: normal;
   font-size: 20px;
   line-height: 36px;
   color: #5A6774;
   margin-bottom: 48px;
}

.link {
   text-decoration: none;
}

.container {
   background: #E5E5E5;
   height: 100vh;
   padding: 120px 0 0 120px;
}

.title-container {
   font-weight: bold;
   font-size: 48px;
   line-height: 64px;
   display: flex;
   align-items: center;
   letter-spacing: 0.02em;
   color: #062847;
   margin-bottom: 24px;
}

.text-container {
   font-weight: normal;
   font-size: 20px;
   line-height: 36px;
   color: #5A6774;
   margin-bottom: 48px;
}

.link {
   text-decoration: none;
}