.site-header {
    height: 60px;
    background-color: #1890FF;
    color: #fff;
    padding: 15px 40px;
 }
 
 .site-header a {
    text-decoration: none;
    color: #fff;
 }

 
.header-container {
   background: #1890FF;
   height: 60px;
   display: flex;
   align-items: center;
}

.header-title {
   font-weight: 500;
   font-size: 24px;
   line-height: 32px;
   color: #FFFFFF;
   padding-left: 40px;
}