@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    
}

h1, h2, p, a, span {
    font-family: Roboto;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}